@model PasswordDto
@{
}

<div class="mx-auto rounded border p-4" style="width: 500px">
    <h2 class="text-center mb-3">Edit Password</h2>
    <hr />

    @if (ViewBag.ErrorMessage != null)
    {
        <div class='alert alert-danger alert-dismissible fade show' role='alert'>
            <strong>@ViewBag.ErrorMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    }
    else if (ViewBag.SuccessMessage != null)
    {
        <div class='alert alert-success alert-dismissible fade show' role='alert'>
            <strong>@ViewBag.SuccessMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    }

    <form method="post">
        <div class="row mb-2">
            <label class="col-sm-4 col-form-label">Current Password</label>
            <div class="col-sm-8">
                <input class="form-control" type="password" asp-for="CurrentPassword">
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-4 col-form-label">New Password</label>
            <div class="col-sm-8">
                <input class="form-control" type="password" asp-for="NewPassword">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-4 col-form-label">Confirm Password</label>
            <div class="col-sm-8">
                <input class="form-control" type="password" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="offset-sm-4 col d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col d-grid">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Profile" role="button">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>
